.firstCol {
  margin-left: 500px;  
  padding: 10px;
  text-transform: capitalize;
  font-size: 20px;
  padding-top: -803px;

}

.P {
    margin-right: 10cm;
    padding: 20px;
    align-content: center;
}

.A{
    padding-bottom: 10px;
}

.B{
    padding-bottom: 10px;
}